body{
	background-color:#242;
	color:white;
}nav>ul>li{
	background-color:rgba(0,0,0,.7);
	margin:1px;
	list-style: none;
}nav>ul>li>a{
	color:#fea;
}nav>ul>li>a:hover{
	color:white;
}#middle>aside{
	display:inline-block;
	float:left;
	width:29%;
}.page{
	display:none;
	float:left;
	width:70%;
}.page:target{
	display:inline-block;
}
.page-title{
	background-color:black;
	color:white;
}